.navbar {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--primary);
    padding: 1rem 3rem;
}
nav {
    display: flex;
    align-items: center;
}

nav > * {
    margin-right: 0.5rem;
}